body {
  background-color: rgba(245, 255, 250, 0.5);
  margin: 0;
}

.logo {
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
}

.content {
  max-width: 50%;
  margin: auto;
}

.frame {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  height: auto;
  width: auto;
  box-shadow: 5px 5px 5px;
}

/*for navbar*/
.navbox {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

li {
  float: left;
  background-color:  white  ;
  list-style-type: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.hover_over_nav_bar {
  display: block;
  color: rgb(185, 179, 179);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
  list-style-type: none;

}

li a:hover {
  background-color: #274a79;
  color: green;
}

.hr_border {border: 1px solid black; position: relative;}

.text_centered {
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;

}

