{% extends "base.html" %}

{% block title %}About Us - Map My KEGG{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='about_style.css') }}">
{% endblock %}

{% block content %}

    <div class="header">
        <h4>Behind Map My KEGG...</h4>
    </div>

    <div class="intro-section">
        <h2>Who Are We?</h2>
        <p>
            We are a team of bioinformatics students from the <b>Hanze University of Applied Sciences</b>
            who are passionate about making bioinformatics tools more accessible to students, scientists, and
            researchers across various disciplines. Our mission is to empower users with the ability to easily retrieve
            and visualize metabolic and genetic data through KEGG tools.
        </p>
    </div>

    <div class="intro-section">
        <h2>Our Vision</h2>
        <p>
            Our goal is to bridge the gap between complex biological data and researchers by providing an intuitive
            platform that integrates KEGG’s powerful resources. We strive to create a space where biological data can
            be effortlessly visualized, analyzed, and interpreted, thus helping researchers and students better
            understand biological processes.
        </p>
    </div>

    <div class="intro-section">
        <h2>What We Offer</h2>
        <div>
            <p>Map My KEGG provides a web-based interface where users can:</p>
            <ul>
                <li>Access detailed genetic and metabolic data from KEGG</li>
                <li>Visualize and analyze biological pathways and processes</li>
                <li>Integrate experimental data with KEGG's known biological networks</li>
            </ul>
        </div>
    </div>

    <div class="intro-section">
        <h2>The Tools We Use</h2>
        <div class="tools-container">

            <div class="tool">
                <h3>KEGG Pull</h3>
                <p>
                    KEGG Pull is a Python-based tool designed to retrieve biological data from KEGG’s extensive database.
                    This tool allows users to access genetic sequences, metabolic pathways, and orthologs, offering
                    flexibility and efficiency through its Application Programming Interface (API) and command-line
                    interface (CLI).
                </p>
            </div>


            <div class="tool">
                <h3>KEGG Mapper</h3>
                <p>
                    KEGG Mapper is a powerful suite of tools used for visualizing biological pathways, integrating
                    experimental data, and mapping genetic information. With features like Reconstruct, Search, Color,
                    and Join, KEGG Mapper helps users explore and analyze complex biological networks, enabling a deeper
                    understanding of cellular processes.
                </p>
            </div>
        </div>
    </div>

    <div class="explore-button-container">
        <a href="{{ url_for('tools') }}" class="explore-button">Explore Tools</a>
    </div>

{% endblock %}

