<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Map My KEGG{% endblock %}</title>
    {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='website.css') }}">
    {% endblock %}
</head>

<body>
    <div class="navbar">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('tools') }}">KEGG Tools</a>
        <a href="{{ url_for('about') }}">About Us</a>
        <a href="{{ url_for('contact') }}">Contact Info</a>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>
            &copy; 2025 Map My KEGG. All rights reserved.
        </p>
    </footer>
</body>
</html>

