<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Map My KEGG</title>
    <link rel="stylesheet" href="../static/contact_style.css">
</head>
<body>
    <div class="navbar">
        <a href="/kegg_home">Home</a>
        <a href="/kegg_tool">KEGG Tools</a>
        <a href="/about">About Us</a>
        <a href="/contact" class="active">Contact Info</a>
    </div>


    <div class="container">
        <div class="header">Contact Us</div>
        <div class="subtext">Need assistance? Reach out to one of our team members below.</div>
    </div>


    <div class="contact-container">
        <h2>Our Team</h2>

        <div class="contact-card">
            <h4 class="contact-heading">Emiel Bosma</h4>
            <p>GitHub: emielbosma</p>
        </div>

        <div class="contact-card">
            <h4 class="contact-heading">Michelle Hazeveld</h4>
            <p>GitHub: michellehazeveld</p>
        </div>

        <div class="contact-card">
            <h4 class="contact-heading">Keren Saint Fleur</h4>
            <p>GitHub: Keren8272</p>
        </div>

        <div class="contact-card">
            <h4 class="contact-heading">Ruben van Dam</h4>
            <p>GitHub: RCvanDam</p>
        </div>
    </div>
</body>
</html>

