<!-- Sources:
Link: https://www.w3schools.com/html/

Paper book:
Title: HTML5 en CSS3 (5th edition)
Author: Peter Doolaard
Publishing house: Van Duuren Media
--><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/home.css">
    <title>Map My KEGG</title>
</head>

<body>
    <div class="navbar">
        <a href="/kegg_tool">KEGG tools</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/home_html">Homepage</a>
    </div>

    <div class="container">
        <div class="header"> Map My KEGG</div>
        <div class="subtext">
            A useful website for various groups within the life sciences.
        </div>
        <img src="https://www.genome.jp/kegg/docs/fig/kegg_model.png" alt="KEGG Pathway map">
    </div>

    <div class="intersection">
        <h2>What is Map My KEGG?</h2>
        <h3>
            Map My KEGG is a website that uses KEGG pull and KEGG mapper tools. KEGG is a database used to understand
            high-level (cell level or higher) functions and the practical use of biological systems, such as the cell,
            organism, and ecosystem—based on molecular-level information (GenomeNet, n.d.). This information is
            primarily obtained from large-scale molecular datasets derived from genome sequencing and other
            high-throughput (partially automated, efficient) experimental technologies. The website provides options for
            analyzing and visualizing biological data at different levels. Some questions that can be answered with the
            website and the tools are:
        </h3>
        <ul>
            {% for question in questions %}
                <li>{{ question }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>